@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: linear-gradient(to right, #ffffff, #f0f0f0);
  --foreground-light: #171717;
  --background-dark: linear-gradient(to right, #0a0a0a, #1a1a1a);
  --foreground-dark: #ededed;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground-dark);
    background: var(--background-dark);
  }
}

body {
  height: 100vh;
  color: var(--foreground-light);
  background: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
}
